@mixin calculatedHeight() {
	height: calc(100vh - calc(var(--footer-height, 40px)));
}

@mixin loader(
	$marginLeft: 0,
	$marginRight: 0,
	$marginTop: 0,
	$marginBottom: 0,
	$width: 1rem,
	$color: white
) {
	.loaderWrapper {
		margin: $marginTop $marginRight $marginBottom $marginLeft;
		display: inline-flex;
		min-width: $width;
		.loader {
			width: $width;
			height: $width;
			border: 2px solid $color;
			border-top-color: transparent;
			border-radius: 50%;
			animation: spin 1s linear infinite;
			@keyframes spin {
				to {
					transform: rotate(360deg);
				}
			}
		}
	}
}

@mixin cross($color: #ef5350, $crossSize: 5px, $crossThickness: 70%, $crossBorderRadius: 2px) {
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: $crossSize;
		height: $crossThickness;
		top: 50%;
		left: 50%;
		background-color: $color;
		border-radius: $crossBorderRadius;
		transform-origin: center;
	}
	
	&::before {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	
	&::after {
		transform: translate(-50%, -50%) rotate(45deg);
	}
}

@mixin crossInsideCircle(  $color: #ef5350,
  $size: 80px,
  $circleWidth: 3px,
  $crossSize: 5px,
  $crossBorderRadius: 2px,
  $crossThickness: 5px
) {
	position: relative;
	width: $size;
	height: $size;
	border-radius: 50%;
	border: $circleWidth solid $color;
	
	@include cross(  $color: $color,
	$crossSize: $crossSize,
	$crossBorderRadius: $crossBorderRadius,
	$crossThickness: $crossThickness,
	);
}