@use "../../globalStyles/index" as global;
.signInUpLayout{
	background-image: url("../../../../public/img/background.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
