.createCourse {
	padding: 2rem;
	&, .formContainer{
		display: flex;
		justify-content: center;
	}
	form{
		width: 50%;
		
		.formContainer{
			flex-direction: column;
			gap: 10px 0;
			input{
			
			}
			.buttonContainer{
				padding: 1rem 2rem;
				button{
				
				}
			}
			
		}
	}
}