@use "../../[lang]/globalStyles/shareable";

.footer{
	background-color: shareable.$blueDark;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 100;
	@media (max-width: 768px) {
		flex-direction: column;
		gap: 20px;
		bottom: 0;
		position: fixed;
		margin-top: auto;
		.sectionContainer{
			flex-direction: column;
		}
	}
	.sectionContainer{
		display: flex;
		justify-content: space-around;
		align-items: center;
		.contactSection{
			display: flex;
			align-items: center;
			gap: 20px;
			
			.phone,
			.email {
				display: flex;
				align-items: center;
				text-decoration: none;
				color: white;
				direction: ltr;
				
				.phoneIcon,
				.emailIcon {
					margin-right: 10px;
					margin-left: 10px;
				}
				
				&:hover {
					color: shareable.$yellow;
				}
			}
			.separator{
				width: 1px;
				height: 24px;
				flex-shrink: 0;
				background: rgba(255, 255, 255, 0.21);
			}
			@media (max-width: 768px) {
				display: none;
			}
		}
		.socialSection{
			display: flex;
			align-items: center;
			background-color: shareable.$yellow;
			height: 100%;
			padding: 5px 20px;
			a{
				display: flex;
				align-items: center;
				padding: 5px;
				margin: 0 10px;
				border-radius: 50%;
				&:hover{
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
				}
			}
			.phoneMobile, .emailMobile{
				display: none;
			}
			@media (max-width: 768px) {
				display: flex;
				justify-content: space-evenly;
				.separator, .contactSection{
					display: none;
				}
				.phoneMobile, .emailMobile{
					display: block;
				}
				width: 100%;
				&, a{
					padding: 8px 0;
				}
			}
		}
	}
}