@import "../../[lang]/globalStyles/shareable";

.footer{
	background-color: $blueDark;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 100;
	.sectionContainer{
		display: flex;
		justify-content: space-around;
		align-items: center;
		.contactSection{
			display: flex;
			align-items: center;
			gap: 20px;
			
			.phone,
			.email {
				display: flex;
				align-items: center;
				text-decoration: none;
				color: white;
				
				.phoneIcon,
				.emailIcon {
					margin-right: 10px;
				}
				
				&:hover {
					color: $yellow;
				}
			}
			.separator{
				width: 1px;
				height: 24px;
				flex-shrink: 0;
				background: rgba(255, 255, 255, 0.21);
			}
		}
		.socialSection{
			display: flex;
			align-items: center;
			background-color: $yellow;
			height: 100%;
			padding: 5px 10px;
			gap: 20px;
			a{
				display: flex;
				align-items: center;
				padding: 5px;
				border-radius: 50%;
				&:hover{
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
				}
			}
		}
	}
}