.buttonWithArrow {

	border: none;
	cursor: pointer;

	span{
		color: #FFF;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		letter-spacing: -0.15px;
		white-space: nowrap;
		margin-left: 20px;
		align-self: center;
	}
	.arrowWrapper{
		margin-left: 20px;
		display: flex;
	}

}
.rtlStyle{
	span, .arrowWrapper{
		margin:0
	}
	.arrowWrapper{
		margin-right: 20px;
		img{
			transform: rotate(180deg);
		}
	}
}

