@use '../../globalStyles/shareable';
.buttonWithArrow {
	border: none;
	display: flex;
	cursor: pointer;
	padding: 10px 20px;
	background: var(--background-color);
	border-radius: 200px;
	&:hover{
		background: var(--background-hover-color);
	}
	span{
		color: #FFF;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		letter-spacing: -0.15px;
		white-space: nowrap;
		margin-left: 20px;
		align-self: center;
	}
	.arrowWrapper{
		margin-left: 20px;
		display: flex;
	}

}
.rtlStyle{
	span, .arrowWrapper{
		margin:0
	}
	.arrowWrapper{
		margin-right: 20px;
		img{
			transform: rotate(180deg);
		}
	}
}

