.navBar{
	.navBarContent {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		.logo {
			width: auto;
		}
		
		ul {
			display: flex;
			justify-content: space-between;
			list-style: none;
			
			@media (max-width: 768px) {
				display: none;
			}
		}
		
		.burgerMenu {
			display: none;
			
			@media (max-width: 768px) {
				display: block;
				cursor: pointer;
			}
		}
	}

}