.navButton {

	border: none;
	cursor: pointer;

	span{
		color: #FFF;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		letter-spacing: -0.15px;
		white-space: nowrap;
		margin-left: 20px;
		align-self: center;
	}
	.arrowWrapper{
		margin-left: 20px;
		display: flex;
	}
	@media (min-width: 768px) {
		padding: 10px 20px;
		display: flex;
		background: #704FE6;
		border-radius: 200px;
		&:hover{
			background: #5639C4;
		}
	}
	@media (max-width: 768px) {
		width: 100%;
		background-color: #ffff;
		.arrowWrapper{
			display: none;
		}
		span{
			color: black;
			float: right;
		}
	}
}