@use "./globalStyles/shareable";
.homePage {
	.content {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 2;
		height: 100%;
		width: 100%;
		
		.textSection {
			padding: 20px;
			color: black;
			z-index: 2;
			flex: 60%;
			h1 {
				font-size: 2.5rem;
				margin-bottom: 20px;
			}
			
			p {
				font-size: 1.2rem;
				margin-bottom: 20px;
			}
			
			.buttonWithArrow {
				background-color: shareable.$blueDark;
				padding: 10px 20px;
				border: none;
				border-radius: 5px;
				color: #fff;
				cursor: pointer;
				
				&:hover {
					background-color: shareable.$blueDark
				}
			}
		}
		.withDroneContainer{
			position: relative;
			flex: 40%;
			height: calc(100vh - calc(var(--navbar-height) + var(--footer-height)));
			overflow: hidden;
		}
	}
}
