@use '@/app/globalStyles/index' as global;
$top-padding: calc(15px + var(--navbar-height));
$bottom-padding: calc(10px + var(--footer-height));
.courses{
	.searchInputContainer{
		position: fixed;
		height: var(--navbar-height);
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 10px 0;
		@media (max-width: 1047px) {
			padding:5px 10px;
		}
	}
	.coursesCardsContainer{
		display: grid;
		padding: $top-padding 10px $bottom-padding 10px;
		height: 100%;
		background-color: seagreen;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: minmax(100px, auto);
		grid-gap: 10px;
		div{
			word-wrap: break-word;
			overflow-wrap: break-word;
			padding: 10px;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}
		@media (max-width: 451px) {
			grid-template-columns: repeat(1, 1fr);
		}
		@media (min-width: 451px) and (max-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: 768px) and (max-width: 1047px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: 1047px) {
			grid-template-rows: auto;
			grid-auto-rows: 1fr;
		}
	}
}