@use "../../globalStyles/shareable";
@use "sass:color";

.navBar {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0 10px;
	z-index: 10;
	background-color: #FFFFFF;
	
	.navBarContent {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		.logo {
			display: flex;
			align-items: center;
			gap: 10px;
			.logoImg{
				border-radius: 5px;
				object-fit: cover;
			}
			.logoText {
				font-size: 15px;
				font-weight: bold;
				color: shareable.$blueDark;
				white-space: nowrap;
			}
			
			
			@media (min-width: 768px) {
				width: 20%;
				justify-content: center;
			}
		}
		
		.burgerMenu {
			display: none;
			cursor: pointer;
			background: none;
			border: none;
			position: relative;
			z-index: 20;
			
			span {
				display: block;
				width: 25px;
				height: 3px;
				background-color: shareable.$blueDark;
				margin: 5px 0;
				border-radius: 2px;
				transition: background-color 0.3s ease;
			}
			
			&:hover span {
				background-color: shareable.$violet;
			}
			
			@media (max-width: 768px) {
				display: block;
			}
		}
		
		.navLinks {
			display: flex;
			list-style: none;
			gap: 20px;
			
			a {
				text-align: right;
			}
			
			@media (max-width: 768px) {
				gap: 10px;
				display: none;
				flex-direction: column;
				position: absolute;
				top: 45px;
				right: 0;
				background: white;
				width: 100%;
				box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
				padding: 20px;
				
				&.open {
					display: flex;
				}
				li {
					padding: 5px 3px;
					width: 100%;
				}
			}
			@media (min-width: 768px) {
				li {
					color: shareable.$blueDark;
					text-decoration: none;
					padding: 6px 15px;
					border-radius: 20px;
					box-sizing: border-box;
					transition: all 0.3s ease;
					
					&:hover {
						color: shareable.$violet;
						background-color: #f2f2f2;
					}
				}
				.signInMobile {
					display: none;
				}
				.signUpMobile {
					display: none;
				}
				.navLink.active {
					box-shadow: 0 0 0 2px shareable.$violet;
					color: shareable.$violet;
				}
			}
		}
		
		.signInUpBtns {
			display: flex;
			gap: 10px;
			
			@media (max-width: 768px) {
				display: none;
			}
		}
		
		.langSwitcher {
			width: 10%;
			position: relative;
			z-index: 20;
			@media (max-width: 768px) {
				display: none;
			}
		}
	}
	
	@media (max-width: 768px) {
		padding-top: 5px;
		padding-bottom: 5px;
		.logoImg {
			height: 30px;
			width: 40px;
		}
		li {
			display: flex;
			
			a {
				width: 100%;
				
				span {
					float: right;
				}
			}
		}
	}
}

.buttonWithArrow {
	@media (min-width: 768px) {
		background: shareable.$violet;
		border-radius: 200px;
		&:hover {
			background: color.scale(shareable.$violet, $lightness: -10%);
		}
	}
	@media (max-width: 768px) {
		padding: 0;
		display: block;
		width: 100%;
		background-color: #ffff;
		.arrowWrapper {
			display: none;
		}
		span {
			color: black;
			float: right;
		}
	}
}